/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
#gemchecklist {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#gemchecklist li {
  cursor: pointer;
  position: relative;
  padding: 10px 0px 6px 16px;
  list-style-type: none;
  transition: 0.2s;
  background-color: #f6f6f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#gemchecklist li:nth-child(odd) {
  background: #f9f9f9;
}

/* Background-color on hover */
#gemchecklist li:hover {
  background: #bad4ad;
}

/* When clicked on, add a background color and strike out text */
#gemchecklist li.checked {
  background: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  color: #325e1c;
  text-decoration: line-through;
}

#gemchecklist li::before {
  content: '';
  background-image: url("../images/check.svg");
  background-repeat: no-repeat, repeat;
  /* background-color: #f3faef; */
  padding: 0px 0px 0px 20px;
}

/* Add a "checked" mark when clicked on */
#gemchecklist li.checked::before {
  content: '';
  border-width: 0 2px 2px 0;
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  /* background-color: #f3faef; */
  background-image: url("../images/check-done.svg");
  padding: 0px 0px 0px 20px;
}

/* Style the close button */
#gemchecklist .close {
  position: absolute;
  right: 0px;
  top: 0;
  margin: 8px;
  height: 25px;
  width: 25px;
  background-image: url("../images/delete.svg");
}

#gemchecklist .close:hover {
  background-image: url("../images/delete-active.svg");
}

/* Style the header */
#gemChecklistHeader {
  color: #000;
  text-align: justify;
}

/* Clear floats after the header */
#gemChecklistHeader:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#gemChecklistHeader .search-topic {
  margin: 2;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
}
