{#
/**
 * @file
 * Default implementation for checklists List.
 *
 * Available variables:
 * - elements: a list of checklists list.
 *
 * @ingroup themeable
 */
#}
<div class="gemchecklist-list" id="gemChecklistHeader" data-field={{ field }}>
  <input type="text" class="search-topic" placeholder="Search for topic.." title="Type a topic">
  <ul id="gemchecklist">
    {{ elements }}
  </ul>
</div>
