{#
/**
 * @file
 * Default implementation for checklists List.
 *
 * Available variables:
 * - topic: a topic of checklists.
 * - completed: the completed status of current topic.
 *
 * @ingroup themeable
 */
#}
{%  
  set classes = [
    "gemchecklist-topic"
  ]
%}
{% if completed == 1 %} 
  {%  
    set classes = [
      "gemchecklist-topic",
      "checked"
    ]
  %}
{% endif %}
<li {{ attributes.addClass(classes) }} style="{{ styles }}">{{ topic }}
  {% if delete_access == TRUE %}
    <span class="close" data-delta={{ delta }}></span>
  {% endif %}
</li>
